<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{article.imgSrc}}" alt="{{article.title}}">
  <div class="card-block">
    <h4 class="card-title">{{article.title}}</h4>
    <p class="card-text">{{article.description}}...</p>
    <a href="{{article.link}}" class="btn btn-primary">View Article</a>
  </div>
</div>

{{yield}}
